<!DOCTYPE html>
<html>
  <head>
    <title>SDG GOALS Introduction</title>
    <meta charset="UTF-8" />
    <!-- 響應式網站 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Boostrap5.0 導入程式 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>

    <!-- 連結CSS -->
    <link rel="stylesheet" href="../static/css_page2.css" />
  </head>

  <body>
    <div class="container-fluid">
      <div class="d-flex">
        <div class="me-auto test"></div>
        <h1 class="text-center">17 SDG GOALS</h1>
        <nav class="navbar navbar-expand-lg navbar-light d-block ms-auto">
          <!-- 第一部份：手機版 -->
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#linkbar"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- 第二部份：桌上型電腦版 -->

          <div class="collapse navbar-collapse" id="linkbar">
            <!-- 列出內容 -->
            <ul class="navbar-nav ms-auto">
              <li class="nav-item me-4">
                <a class="nav-link" href="page1.html" target="_blank"></a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="row row-cols-1 row-cols-md-4 gy-5">
        <div class="col">
          <div class="card h-100">
            <img src="../static/sdg01.png" class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-title">
                <strong>No Poverty <br />消除各地一切形式的貧窮</strong>
              </p>
              <p class="card-text">End poverty in all its forms everywhere</p>
            </div>
            <div class="card-footer d-flex flex-column">
              <a
                href="https://sdgs.un.org/goals/goal1"
                class="btn btn-primary"
                target="_blank"
                >To see more</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../static/sdg02.png" class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-title">
                <strong
                  >Zero Hunger<br />消除飢餓，達成糧食安全，改善營養及促進永續農業</strong
                >
              </p>
              <p class="card-text">
                End hunger, achieve food security and improved nutrition and
                promote sustainable agriculture
              </p>
            </div>
            <div class="card-footer d-flex flex-column">
              <a
                href="https://sdgs.un.org/goals/goal2"
                class="btn btn-primary"
                target="_blank"
                >To see more</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../static/sdg03.png" class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-title">
                <strong
                  >Good Health And Well-Being
                  <br />確保健康及促進各年齡層的福祉</strong
                >
              </p>
              <p class="card-text">
                Ensure healthy lives and promote well-being for all at all ages
              </p>
            </div>
            <div class="card-footer d-flex flex-column">
              <a
                href="https://sdgs.un.org/goals/goal3"
                class="btn btn-primary"
                target="_blank"
                >To see more</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../static/sdg04.png" class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-title">
                <strong
                  >Quality Education<br />確保有教無類、公平以及高品質的教育，及提倡終身學習</strong
                >
              </p>
              <p class="card-text">
                Ensure inclusive and equitable quality education and promote
                lifelong learning opportunities for all
              </p>
            </div>
            <div class="card-footer d-flex flex-column">
              <a
                href="https://sdgs.un.org/goals/goal4"
                class="btn btn-primary"
                target="_blank"
                >To see more</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../static/sdg05.png" class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-title">
                <strong
                  >Gender Equality<br />實現兩性平等，並賦予所有婦女權力</strong
                >
              </p>
              <p class="card-text">
                Achieve gender equality and empower all women and girls
              </p>
            </div>
            <div class="card-footer d-flex flex-column">
              <a
                href="https://sdgs.un.org/goals/goal5"
                class="btn btn-primary"
                target="_blank"
                >To see more</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../static/sdg06.png" class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-title">
                <strong
                  >Clean Water and Sanitation<br />確保所有人都能享有水及衛生及其永續管理</strong
                >
              </p>
              <p class="card-text">
                Ensure availability and sustainable management of water and
                sanitation for all
              </p>
            </div>
            <div class="card-footer d-flex flex-column">
              <a
                href="https://sdgs.un.org/goals/goal6"
                class="btn btn-primary"
                target="_blank"
                >To see more</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../static/sdg07.png" class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-title">
                <strong
                  >Affordable And Clean Energy<br />確保所有的人都可取得負擔的起、可靠的、永續的，以及現代的能源</strong
                >
              </p>
              <p class="card-text">
                Ensure access to affordable, reliable, sustainable and modern
                energy for all
              </p>
            </div>
            <div class="card-footer d-flex flex-column">
              <a
                href="https://sdgs.un.org/goals/goal7"
                class="btn btn-primary"
                target="_blank"
                >To see more</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../static/sdg08.png" class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-title">
                <strong
                  >Decent work and economic growth<br />促進包容且永續的經濟成長，達到全面且生產力的就業，讓每一個人都有一份好工作</strong
                >
              </p>
              <p class="card-text">
                Promote sustained, inclusive and sustainable economic growth,
                full and productive employment and decent work for all
              </p>
            </div>
            <div class="card-footer d-flex flex-column">
              <a
                href="https://sdgs.un.org/goals/goal8"
                class="btn btn-primary"
                target="_blank"
                >To see more</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../static/sdg09.png" class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-title">
                <strong
                  >Industry, Innovation and Infrastructure<br />建立具有韌性的基礎建設，促進包容且永續的工業，並加速創新</strong
                >
              </p>
              <p class="card-text">
                Build resilient infrastructure, promote inclusive and
                sustainable industrialization, and foster innovation
              </p>
            </div>
            <div class="card-footer d-flex flex-column">
              <a
                href="https://sdgs.un.org/goals/goal9"
                class="btn btn-primary"
                target="_blank"
                >To see more</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../static/sdg10.png" class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-title">
                <strong>Reduced inequality<br />減少國內及國家間不平等</strong>
              </p>
              <p class="card-text">
                Reduce income inequality within and among countries
              </p>
            </div>
            <div class="card-footer d-flex flex-column">
              <a
                href="https://sdgs.un.org/goals/goal10"
                class="btn btn-primary"
                target="_blank"
                >To see more</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../static/sdg11.png" class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-title">
                <strong
                  >Sustainable cities and communities<br />促使城市與人類居住具包容、安全、韌性及永續性</strong
                >
              </p>
              <p class="card-text">
                Make cities and human settlements inclusive, safe, resilient,
                and sustainable
              </p>
            </div>
            <div class="card-footer d-flex flex-column">
              <a
                href="https://sdgs.un.org/goals/goal11"
                class="btn btn-primary"
                target="_blank"
                >To see more</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../static/sdg12.png" class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-title">
                <strong
                  >Responsible consumption and production<br />確保永續的消費與生產模式</strong
                >
              </p>
              <p class="card-text">
                Ensure sustainable consumption and production patterns
              </p>
            </div>
            <div class="card-footer d-flex flex-column">
              <a
                href="https://sdgs.un.org/goals/goal12"
                class="btn btn-primary"
                target="_blank"
                >To see more</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../static/sdg13.png" class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-title">
                <strong
                  >Climate action<br />採取緊急措施以因應氣候變遷及其影響</strong
                >
              </p>
              <p class="card-text">
                Take urgent action to combat climate change and its impacts by
                regulating emissions and promoting developments in renewable
                energy
              </p>
            </div>
            <div class="card-footer d-flex flex-column">
              <a
                href="https://sdgs.un.org/goals/goal13"
                class="btn btn-primary"
                target="_blank"
                >To see more</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../static/sdg14.png" class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-title">
                <strong
                  >Life below water<br />保育及永續利用海洋與海洋資源，以確保永續發展</strong
                >
              </p>
              <p class="card-text">
                Conserve and sustainably use the oceans, seas and marine
                resources for sustainable development
              </p>
            </div>
            <div class="card-footer d-flex flex-column">
              <a
                href="https://sdgs.un.org/goals/goal14"
                class="btn btn-primary"
                target="_blank"
                >To see more</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../static/sdg15.png" class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-title">
                <strong
                  >Life on land<br />保護、維護及促進領地生態系統的永續使用，永續的管理森林，對抗沙漠化，終止及逆轉土地劣化，並遏止生物多樣性的喪失</strong
                >
              </p>
              <p class="card-text">
                Protect, restore and promote sustainable use of terrestrial
                ecosystems, sustainably manage forests, combat desertification,
                and halt and reverse land degradation and halt biodiversity loss
              </p>
            </div>
            <div class="card-footer d-flex flex-column">
              <a
                href="https://sdgs.un.org/goals/goal15"
                class="btn btn-primary"
                target="_blank"
                >To see more</a
              >
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <img src="../static/sdg16.png" class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-title">
                <strong
                  >Peace, justice and strong institutions<br />促進和平且包容的社會，以落實永續發展；提供司法管道給所有人；在所有的階層建立有效的、負責的且包容的制度</strong
                >
              </p>
              <p class="card-text">
                Promote peaceful and inclusive societies for sustainable
                development, provide access to justice for all and build
                effective, accountable and inclusive institutions at all levels
              </p>
            </div>
            <div class="card-footer d-flex flex-column">
              <a
                href="https://sdgs.un.org/goals/goal16"
                class="btn btn-primary"
                target="_blank"
                >To see more</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../static/sdg17.png" class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-title">
                <strong
                  >Partnership for the goals<br />強化永續發展執行方法及活化永續發展全球夥伴關係</strong
                >
              </p>
              <p class="card-text">
                Strengthen the means of implementation and revitalize the global
                partnership for sustainable development
              </p>
            </div>
            <div class="card-footer d-flex flex-column">
              <a
                href="https://sdgs.un.org/goals/goal17"
                class="btn btn-primary"
                target="_blank"
                >To see more</a
              >
            </div>
          </div>
        </div>
      </div>

       
	</div>
	</body>
</html>
