<html>
  <head>
    <title>SDG Result</title>
    <meta charset="UTF-8" />
    <!-- 響應式網站 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Boostrap5.0 導入程式 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css_page4.css" />

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <!-- 連結CSS -->
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
  </head>

  <body>
    <h1 class="text-center">SDG Result</h1>
    <a id="home" href="page1.html"></a>
    <div class="figfure">
      <div id="container" class="fig1"></div>
    </div>
    <script language="JavaScript">
      $(document).ready(function() {
         var chart = {
            type: 'column',
      	   backgroundColor: "#cfe3fb",
         };
         var title = {
            text: 'SDG weight in bar chart',

         };
         var xAxis = {
              categories: ['sdg01', 'sdg02' ,'sdg03', 'sdg04', 'sdg05','sdg06','sdg07','sdg08','sdg09','sdg10','sdg11','sdg12','sdg13','sdg14','sdg15','sdg16','sdg17'],
         };
         var yAxis = {
            min: 0,
            title: {
              text:'' ,
              align: 'high-center'
            },
            labels: {
               overflow: 'justify'
            }
         };
         var tooltip = {
             valueSuffix: ' '
         };
         var plotOptions = {
            bar:
            {
               dataLabels: {
                  enabled: false,
               }
            }
         };
         var legend = {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: 0,
            y: 50,
            floating: true,
            borderWidth: 1,
            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
            shadow: true,

         };

         var credits = {
            enabled: false,
         };

         var series= [
            {
               name: 'score',
               data: [
                  {y:{{datas[0]}}, color:"#eb1c2d"},
                  {y:{{datas[1]}}, color:"#d3a029"},
                  {y:{{datas[2]}}, color:"#4c9f38"},
                  {y:{{datas[3]}}, color:"#c5192d"},
                  {y:{{datas[4]}}, color:"#ff3a21"},
                  {y:{{datas[5]}}, color:"#26bde2"},
                  {y:{{datas[6]}}, color:"#fcc30b"},
                  {y:{{datas[7]}}, color:"#a21942"},
                  {y:{{datas[8]}}, color:"#fd6925"},
                  {y:{{datas[9]}}, color:"#dd1367"},
                  {y:{{datas[10]}}, color:"#fd9d24"},
                  {y:{{datas[11]}}, color:"#bf8b2e"},
                  {y:{{datas[12]}}, color:"#3f7e44"},
                  {y:{{datas[13]}}, color:"#0a97d9"},
                  {y:{{datas[14]}}, color:"#56c02b"},
                  {y:{{datas[15]}}, color:"#00689d"},
                  {y:{{datas[16]}}, color:"#19486a"},
               ]
            }
         ]
              //}
         //];
         var json = {};
         json.chart = chart;
         json.title = title;
         json.tooltip = tooltip;
         json.xAxis = xAxis;
         json.yAxis = yAxis;
         json.series = series;
         json.plotOptions = plotOptions;
         json.legend = legend;
         json.credits = credits;
         $('#container').highcharts(json);

      });
    </script>
    <div style="width: 500px; height: 500px">
      <canvas id="canvasPie"></canvas>
    </div>
    <script>
      var labels= ['sdg01', 'sdg02' ,'sdg03', 'sdg04', 'sdg05','sdg06','sdg07','sdg08','sdg09','sdg10','sdg11','sdg12','sdg13','sdg14','sdg15','sdg16','sdg17'];

         var ctx = document.getElementById('canvasPie').getContext('2d');
         var pieChart = new Chart(ctx, {
            type: 'pie',
            data : {
               labels:labels,
               datasets: [{
                  //預設資料
                  data:{{datas}},
                  backgroundColor: [
                  //資料顏色
                     "#eb1c2d",
                     "#d3a029",
                     "#4c9f38",
                     "#c5192d",
                     "#ff3a21",
                     "#26bde2",
                     "#fcc30b",
                     "#a21942",
                     "#fd6925",
                     "#dd1367",
                     "#fd9d24",
                     "#bf8b2e",
                     "#3f7e44",
                     "#0a97d9",
                     "#56c02b",
                     "#00689d",
                     "#19486a",
                  ],
               }],
            }
         });
      pieChart.setEntryLabelColor(Color.WHITE);
    </script>
  </body>
</html>
