<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div id="navbar" class="navbar-collapse collapse">
            <p class="navbar-text navbar-left"><a href="{{ url_for('start_page') }}" style="color: #fff;">Sustainable Development Goals</a></p>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('extraction') }}">Keywords Extraction</a></li>
                <li><a href="{{ url_for('similarity') }}">SDG Keywords</a></li>
            </ul>
        </div> 
    </div>
</nav>